.footer {
  background-color: $black;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &__container {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      color: $white;
      font-size: 0.8rem;
    }

    span {
      color: $primary-color;
    }
  }
}
