<section class="header">
  <div class="header__container">
    <p class="header__logo">d3x<span class="header__highlight">.me</span></p>
    <ul>
      <li><a class="button button--primary" href="/">Home</a></li>
      <li><a class="button button--primary" href="/create">Create</a></li>
      <li><a class="button button--primary" href="#">Join</a></li>
    </ul>
  </div>
</section>
